@forward 'base';
@forward 'components';
@forward 'layout';
@forward 'pages';
@forward "fonts";

body{
  font-family: 'WebsiteFont',"KaiTi", serif;
  font-size: medium;
}
.page-title{
  font-family: "KaiTi", "SimKai", serif;
  font-size: larger;
}
h1 {
  font-size: 3rem;
  color: rgb(15, 125, 216);
  font-family: 'WebsiteFont', serif;
}
h2, h3, h4, h5, h6 {
  color: aqua;
  font-family: "KaiTi", "SimKai", serif;
}
p{
  font-size: 1.45rem;
}
.post-list, .post-title, .post-meta{
  font-size: 2.4rem; /* 调整文章标题字体大小 */
}
.other_text{
  font-family: 'WebsiteFont',"KaiTi", "SimKai", serif;
}
.lang_russian{
  //@extend .other_text
  font-family: 'WebsiteFont','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lang_english{
  //@extend .other_text
  font-family: 'WebsiteFont', serif;
}
.h1{
  color: aqua;
}
.h2{
  font-size: 2.8rem;
}
.h3{
  font-size: 2.6rem;
}
.h4,.h5,.h6{
  font-size: 2.4rem;
}
.respect{
  font-family: "KaiTi", "SimKai", serif;
  font-size: 2.6rem;
  font-weight: 900;
}
